cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.19.0
pandas==1.0.5
PuLP==1.6.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
xlrd==1.2.0
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.19.0
pandas==1.0.5
PuLP==2.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
xlrd==1.2.0
